<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Pallet_Jack">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="6.8161E-18 -0.22934 -0.36819"
        rpy="0 0 0" />
      <mass
        value="651.53" />
      <inertia
        ixx="236.65"
        ixy="-1.8773E-15"
        ixz="-1.1159E-14"
        iyy="111.97"
        iyz="-4.5499"
        izz="204.97" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Steering">
    <inertial>
      <origin
        xyz="-2.2204E-16 -3.6739E-17 0.5125"
        rpy="0 0 0" />
      <mass
        value="44.179" />
      <inertia
        ixx="1.6866"
        ixy="-2.3207E-34"
        ixz="3.1077E-16"
        iyy="1.6866"
        iyz="7.7922E-33"
        izz="0.49701" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Steering.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Steering.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Steering"
    type="revolute">
    <origin
      xyz="0 0.2925 0"
      rpy="3.1416 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="Steering" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Wheel">
    <inertial>
      <origin
        xyz="0 1.3878E-17 -1.1504E-17"
        rpy="0 0 0" />
      <mass
        value="37.699" />
      <inertia
        ixx="0.65973"
        ixy="0"
        ixz="1.1046E-33"
        iyy="0.65973"
        iyz="-2.1856E-33"
        izz="0.75398" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel"
    type="revolute">
    <origin
      xyz="0 0 0.695"
      rpy="1.5708 0 0" />
    <parent
      link="Steering" />
    <child
      link="Wheel" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Lidar">
    <inertial>
      <origin
        xyz="-2.8561E-18 9.2635E-18 0.013281"
        rpy="0 0 0" />
      <mass
        value="1.406" />
      <inertia
        ixx="0.0028094"
        ixy="-2.5675E-35"
        ixz="-1.9299E-19"
        iyy="0.0028094"
        iyz="2.3677E-20"
        izz="0.0029459" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Lidar.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Lidar.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lidar"
    type="fixed">
    <origin
      xyz="0 -0.8175 1.03"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Lidar" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Zed_Camera_1">
    <inertial>
      <origin
        xyz="0.025 -2.7546E-18 -2.2204E-16"
        rpy="0 0 0" />
      <mass
        value="0.615" />
      <inertia
        ixx="0.0032296"
        ixy="4.8692E-19"
        ixz="4.0115E-18"
        iyy="0.00025625"
        iyz="-1.2057E-18"
        izz="0.0032296" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Zed_Camera_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.50196 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Zed_Camera_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Zed_Camera_1"
    type="fixed">
    <origin
      xyz="0 -0.8675 0.42825"
      rpy="0 0.34907 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="Zed_Camera_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Zed_Camera_2">
    <inertial>
      <origin
        xyz="0.025 2.7546E-17 -2.2204E-16"
        rpy="0 0 0" />
      <mass
        value="0.615" />
      <inertia
        ixx="0.0032296"
        ixy="1.0147E-19"
        ixz="-4.4994E-18"
        iyy="0.00025625"
        iyz="8.838E-20"
        izz="0.0032296" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Zed_Camera_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.50196 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/Zed_Camera_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Zed_Camera_2"
    type="fixed">
    <origin
      xyz="0 0.4925 0.07"
      rpy="0 0.17453 1.5708" />
    <parent
      link="base_link" />
    <child
      link="Zed_Camera_2" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>